.tarea-formulario{

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.tarea-input{

  width: 100%;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border:2px solid rgb(2, 70, 2);
  outline: none;

}

.tarea-boton{
  margin-top: 5PX;;
  padding: 16px;
  font-size: 18px;
  border:none;
  border-radius:4px;
  cursor:pointer;
  outline: none;
  background-color: rgb(2, 70, 2);
  color:white;
  text-transform: capitalize;


}