.tareas-lista-contenedor{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Agregamos un espacio entre las tareas */
  overflow-x: auto; /* Agregamos una barra de desplazamiento horizontal en pantallas pequeñas */
  /*margin-bottom: 15px;*/

}